@import url(../css/fontello.css);
/* global*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*backgroundimage*/
body {
  background-image: url(../assets/hojitamarilla.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Mukta", sans-serif;
  font-size: 15px;
  background-attachment: fixed;
  position: relative;
  padding-bottom: 110px;
  min-height: 100vh; }

/* titulos */
h1 {
  font-family: 'Poppins', sans-serif;
  font-style: bold; }

h2 {
  font-family: 'Poppins', sans-serif;
  font-style: bold; }

/* header */
.navbar {
  background-color: #4ba3b388;
  font-weight: bold;
  font-size: 20px; }

.navbar ul li a:hover {
  color: #ece468e0 !important; }

.navbar-brand {
  font-family: 'Island Moments', cursive;
  color: black;
  font-size: 30px;
  padding-top: 5px;
  padding-left: 8px;
  text-decoration: none; }
  .navbar-brand:hover {
    color: black; }

/*footer*/
footer {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1px; }
  footer li {
    display: inline-block;
    padding: 5px; }
    footer li a {
      text-decoration: none;
      color: black;
      font-size: 20px; }
      footer li a:hover {
        color: #bb850fea; }

.copyright {
  padding-left: 22px;
  font-size: 15px; }

/* titulo principal*/
.maintitle {
  color: #4ba3b388;
  font-weight: bold;
  margin: auto;
  font-size: 70px;
  display: block;
  font-family: "Courier New", Courier, monospace;
  white-space: nowrap;
  border-right: 4px solid;
  width: 20ch;
  animation: typing 5s steps(20);
  overflow: hidden;
  animation-iteration-count: infinite; }

@keyframes typing {
  from {
    width: 0; } }

/*foto perfil*/
.perfil {
  border-radius: 30%;
  margin-bottom: 50px;
  width: 350px; }

.main {
  text-align: center; }

/*grilla sobremi*/
.contenedorsobremi {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  width: 100%;
  margin: 25px auto;
  align-items: center;
  grid-template-areas: "header header" "contsobremi textsobremi" "footer footer"; }
  .contenedorsobremi header {
    grid-area: header; }
  .contenedorsobremi hr {
    margin: 25px 0 25px 40px;
    border-bottom: 2px solid #4ba3b3cb;
    border-top: 2px solid #4ba3b3cb;
    width: 60%; }
  .contenedorsobremi footer {
    grid-area: footer; }

.contsobremi {
  grid-area: contsobremi;
  text-align: center; }

.textsobremi {
  grid-area: textsobremi;
  padding-left: 20px;
  padding-right: 40px;
  text-align: center;
  font-size: 20px;
  margin: 40px auto; }

.imgsobremi {
  width: 80%;
  border-radius: 25%;
  margin: 20px; }

/* grilla servicios*/
.contenedorserv {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, auto);
  width: 100%;
  margin: 25px auto;
  align-items: center;
  grid-template-areas: "header header header header" "card1 card2 card3 card4" "footer footer footer footer"; }
  .contenedorserv .card1 {
    grid-area: card1; }
  .contenedorserv .card2 {
    grid-area: card2; }
  .contenedorserv .card3 {
    grid-area: card3; }
  .contenedorserv .card4 {
    grid-area: card4; }
  .contenedorserv header {
    grid-area: header; }
  .contenedorserv footer {
    grid-area: footer; }

/* cajas contenedoras-servicios*/
.cardcont {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 800px;
  opacity: 0.7;
  transition: all 0.3 ease;
  border-style: outset; }
  .cardcont:hover {
    opacity: 1;
    border-style: inset; }

.cardtit {
  font-size: 30px;
  font-family: "Mukta", sans-serif; }

.cardtext {
  font-size: 25px;
  text-align: center; }

#icon1 {
  font-size: 100px; }

#icon2 {
  font-size: 100px; }

/*blog*/
.contenedorblog {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(5, auto);
  width: 100%;
  margin: 25px auto;
  gap: 1px 1px;
  grid-template-areas: "header header" "box1 box4" "box2 box5" "box3 box6" "footer footer"; }
  .contenedorblog .box1 {
    grid-area: box1; }
  .contenedorblog .box2 {
    grid-area: box2; }
  .contenedorblog .box3 {
    grid-area: box3; }
  .contenedorblog .box4 {
    grid-area: box4; }
  .contenedorblog .box5 {
    grid-area: box5; }
  .contenedorblog .box6 {
    grid-area: box6; }
  .contenedorblog header {
    grid-area: header; }
  .contenedorblog footer {
    grid-area: footer; }

.box1, .box2, .box3 {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%; }

.box1, .box2, .box3, .box4, .box5, .box6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  place-content: center; }

.youtube {
  position: absolute;
  top: 10px;
  left: 10%;
  width: 80%;
  height: 80%;
  border: 0; }

/*mediaq*/
@media screen and (max-width: 991px) {
  .logo {
    font-family: "Island Moments", cursive;
    color: black;
    font-size: 30px;
    padding-top: 5px;
    padding-left: 8px;
    text-decoration: none; }
  footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 2px; }
  .contenedorserv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    width: 100%;
    margin: 25px auto;
    align-items: center;
    grid-template-areas: "header header" "card1 card2"  "card3 card4" "footer footer"; }
  .contenedorsobremi {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    width: 100%;
    margin: 25px auto;
    grid-template-areas: "header" "contsobremi"  "textsobremi" "footer"; }
  .textsobremi {
    padding-top: 20px;
    padding-bottom: 20px; }
  .box4, .box5, .box6 {
    padding: 8px; }
  .maintitle {
    font-size: 60px; } }

@media screen and (max-width: 858px) {
  .contenedorserv {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    width: 100%;
    margin: 25px auto;
    align-items: center;
    grid-template-areas: "header" "card1" "card2" "card3"  "card4" "footer"; }
  .navbar {
    margin-bottom: 15px; }
  .maintitle {
    font-size: 30px; }
  .perfil {
    width: 250px;
    margin: 50px; }
  #cardphone {
    display: flex;
    flex-direction: column-reverse; }
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%; }
  .contenedorblog {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, auto);
    width: 100%;
    margin: 25px auto;
    gap: 1px 1px;
    grid-template-areas: "header" "box1" "box2" "box3" "box4" "box5" "box6" "footer"; }
  .box1, .box2, .box3, .box4, .box5, .box6 {
    padding-left: 10px;
    padding-right: 10px; }
  .box1, .box2, .box3 {
    overflow: hidden;
    padding-top: 56.25%; }
  .youtube {
    top: 0;
    left: 10%;
    width: 80%;
    height: 80%;
    border: 0; } }
