$background-nav: #4ba3b388;
$hover-nav: #ece468e0;
$hover-footer: #bb850fea;
$color-hr: #4ba3b3cb;
//typo
$letra-titulo: 'Poppins', sans-serif;
$letra-logo: 'Island Moments', cursive;
$letra-cont: 'Courier New', Courier, monospace;
$letra-base: 'Mukta', sans-serif;
// index-main-title
$color1: rgba(88, 146, 137, 0.9);
$color2: rgba(202, 151, 85, 0.7);
