/* header */
.navbar{
    background-color: $background-nav;
    font-weight: bold;
    font-size: 20px;
}
.navbar ul li a{
    &:hover{
        color: $hover-nav !important;
    }
}
.navbar-brand{
    font-family: 'Island Moments', cursive;
    color: black;
    font-size: 30px;
    padding-top: 5px;
    padding-left: 8px;
    text-decoration: none;
    &:hover{
        color: black;
    }
}