/*blog*/
.contenedorblog{
    @include grid (2fr 1fr, repeat(5, auto));
    gap: 1px 1px;
    grid-template-areas: 
    "header header"
    "box1 box4"
    "box2 box5"
    "box3 box6"
    "footer footer";
    .box1 { grid-area: box1; }
    .box2 { grid-area: box2; }
    .box3 { grid-area: box3; }
    .box4 { grid-area: box4; }
    .box5 { grid-area: box5;}
    .box6 {grid-area: box6;}
    header{
        grid-area: header;
    }
    footer{
        grid-area: footer;
    }
}
.box1, .box2, .box3{
    padding-left: 20px;
    p{
        text-align: center;
    }
}
.box1, .box2, .box3, .box4, .box5, .box6{
    display: flex;
    flex-direction: column;
    align-items: center;
    place-content: center;
}
.textblog{
    padding-top: 15px;
}
.youtube{
    width: 1000px;
    height: 600px;
}

