/*grilla sobremi*/
.contenedorsobremi{
    @include grid (1fr 1fr,auto auto auto);
    width: 100%;
    margin: 25px auto;
    align-items: center;
    grid-template-areas: 
    "header header"
    "contsobremi textsobremi"
    "footer footer";
    header{
        grid-area:header;
    }
    hr{
        margin: 25px 0 25px 40px;
        border-bottom: 2px solid $color-hr;
        border-top: 2px solid $color-hr;
        width: 60%;
    }
    footer{
        grid-area: footer;
    }
}
.contsobremi{
    grid-area: contsobremi;
    text-align: center;
}
.textsobremi{
    grid-area: textsobremi;
    padding-left: 20px;
    padding-right: 40px;
    text-align: center;
    font-size: 20px;
    margin: 40px auto;
}
.imgsobremi{
    width: 80%;
    border-radius: 25%;
    margin: 20px;
}
