/*blog*/
.contenedorblog{
    @include grid (2fr 1fr, repeat(5, auto));
    width: 100%;
    margin: 25px auto;
    gap: 1px 1px;
    grid-template-areas: 
    "header header"
    "box1 box4"
    "box2 box5"
    "box3 box6"
    "footer footer";
    .box1 { grid-area: box1; }
    .box2 { grid-area: box2; }
    .box3 { grid-area: box3; }
    .box4 { grid-area: box4; }
    .box5 { grid-area: box5;}
    .box6 {grid-area: box6;}
    header{
        grid-area: header;
    }
    footer{
        grid-area: footer;
    }
}
.box1, .box2, .box3{
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}
.box1, .box2, .box3, .box4, .box5, .box6{
    display: flex;
    flex-direction: column;
    align-items: center;
    place-content: center;
}
.youtube{
    position: absolute;
    top: 10px;
    left: 10%;
    width: 80%;
    height: 80%;
    border: 0;
}