/*mediaq*/
@media screen and (max-width: 991px){
    .logo{
        font-family: $letra-logo;
        color: black;
        font-size: 30px;
        padding-top: 5px;
        padding-left: 8px;
        text-decoration: none;
    }
    footer{
        display: flex;
        align-items: center;
        flex-direction: column;
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 2px;
    }
    .contenedorserv{
        @include grid (1fr 1fr,repeat(4,auto));
        width: 100%;
        margin: 25px auto;
        align-items: center;
        grid-template-areas:
        "header header"
        "card1 card2" 
        "card3 card4"
        "footer footer";
    }
    .contenedorsobremi {
        @include grid (1fr,repeat(4,auto));
        width: 100%;
        margin: 25px auto;
        grid-template-areas: 
        "header"
        "contsobremi" 
        "textsobremi"
        "footer"; 
    }
    .textsobremi{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .box4, .box5, .box6{
        padding: 8px;
    }
    .maintitle{
        font-size: 60px;
    }
}

