@media screen and (max-width: 858px){
    .contenedorserv{
    @include grid (1fr, repeat(6, auto));
    width: 100%;
    margin: 25px auto;
    align-items: center;
    grid-template-areas:
    "header"
    "card1"
    "card2"
    "card3" 
    "card4"
    "footer";
}
.card1{
    margin-top: 86px;
}
.navbar{
    margin-bottom: 15px;
    position: absolute;
    z-index: 1;
    width: 100%;
}
.maintitle{
    font-size: 30px;
}
.perfil{
    width: 250px;
    margin-top: 140px;
}
#cardphone{
    display: flex;
    flex-direction: column-reverse;
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.contenedorblog {
    @include grid (1fr, repeat(8,auto));
    width: 100%;
    margin: 25px auto;
    gap: 1px 1px; 
    grid-template-areas: 
    "header"
    "box1"
    "box2"
    "box3"
    "box4"
    "box5"
    "box6"
    "footer"; 
}

.box1, .box2, .box3, .box4, .box5, .box6{
    padding-left: 10px;
    padding-right: 10px;
}
.box1, .box2, .box3{
    overflow: hidden;
    padding-top: 56.25%;
}
.box4{
    margin-top: 0px;
}
.youtube{
    top: 0;
    left: 10%;
    width: 80%;
    height: 80%;
    border: 0;
}
#formulario{
    margin-top: 120px;
}
}    




